@page
@model FavAudioApp.Pages.Songs.IndexModel
@{
}

<h2>Songs List</h2>
<a class="btn btn-primary btn-sm" href="/Songs/Create">New Song</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Link</th>
            <th>Artist</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.songs.Count != 0)
        {
            @foreach (var song in Model.songs)
            {
                <tr>
                    <td>@song.Id</td>
                    <td>@song.Title</td>
                    <td><a class="btn btn-success btn-sm" href="@song.Url" target="_blank">Play</a></td>
                    <td>@song.Artist</td>
                    <td>@song.Genre</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="/Songs/Update?id=@song.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Songs/Delete?id=@song.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
