@page
@model FavAudioApp.Pages.Songs.UpdateModel
@{
}

<h2 class="mb-3">New Song</h2>
@if (!Model.errorMessage.Equals(""))
{
    <h2>@Model.errorMessage</h2>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.SongDto.Id" />
    <div class="row mb-3">
        <label for="title" class="col-md-1 col-form-label">Title</label>
        <div>
            <input type="text" class="form-control" name="title"
                   id="title" placeholder="Enter title" value="@Model.SongDto.Title" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="url" class="col-md-1 col-form-label">URL</label>
        <div>
            <input type="url" class="form-control" name="url"
                   id="url" placeholder="Enter URL" value="@Model.SongDto.Url" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="artist" class="col-md-1 col-form-label">Artist</label>
        <div>
            <input type="text" class="form-control" name="artist"
                   id="artist" placeholder="Enter artist" value="@Model.SongDto.Genre" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="genre" class="col-md-1 col-form-label">Genre</label>
        <div>
            <input type="text" class="form-control" name="genre"
                   id="genre" placeholder="Enter genre" value="@Model.SongDto.Genre" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-md-1 col-md-3 d-grid">
            <a role="button" href="/Songs/Index" class="btn btn-outline-primary">Cancel</a>
        </div>
    </div>

</form>